/* css positioning */

/* .parent{
    height:400px;
    position:absolute;
    background-color:green;
    width:500px
}


.child{
    position:absolute;
    height:100px;
    top:20px;
    left:30px;
    width:100px;
    background-color:blue;
} */