.sidebar {
    width: 20%;
    float: left;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    height:10vh;
    background:green
}

.main {
    width: 80%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background:blue
}

.resize-icon {
    width: 10px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: calc(20% - 5px); /* Adjust the value based on your initial sidebar width */
    cursor: col-resize;
    display: none;
}
