h1,
h2 {
    font-family: Lato;
}

.row {
    display: flex;
    flex-direction: row;
    /* changed from column to row */
}

.col {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

fieldset{
    width: fit-content;
}